body {
    background-color: rgb(225, 236, 232);
}

h1, h3, h4 {
    text-align: center ;
    font-family: sans-serif;   
}

.image {
    width: 100%;
    margin: 0 0;
    text-align: center;
}

img {
    width: 20%;
    margin: 0 auto;
    border: solid steelblue 3px;
    padding: 0 0 ;
}

.counter {
    justify-content: center;
    text-align: center;
}

.btn {
    margin:0 auto;
    width: 15%;
    height: 20px;
    background: steelblue;
    border-radius: 2px;
}

.box {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.item {
    width: 90%;
    background-color: rgb(197, 228, 228);
    text-align: center;

}

#cat1, #cat2 {
    width: 90%;
}